small{
    border: 2px solid #777;
    border-radius: 7px;
    padding: 5px 12px;
    color:#777;
    box-shadow: 2px 2px 2px rgba(109, 71, 71,0.5);
}
.post{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px 5px rgba(13, 77, 107, 0.8);
    max-width: 400px;
    margin: 20px auto;
    padding: 15px 10px;
    background: #fff;
    background-color: azure;
    border-radius: 10px;
}